body{
    background-color: #2b2b2b;
}

main{
    margin: 0 auto;
    width: 300px;
}

button{
    width: 100px;
    margin: 25px;
}

.direita{
    float: right;
}

.title{
    font-size: 4em;
    color: azure;
    text-align: center;
}